<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>PROJECT ASSESSMENT THREE: Wacky Widgets</title>
</head>
<body>
    <h1 align='center'>Wacky Widgets</h1>
    
    {% if widgets %}
        <table class="pure-table pure-table-striped" align='center'>
            <thead>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Delete Item</th>
            <tbody>
                
                {% for widget in widgets %}
                <tr>
                    <td>
                        {{ widget.description }}
                    </td>
                    <td>
                        {{ widget.quantity }}
                    </td>
                    <td>
                        <form action="{% url 'delete_widget' widget.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="pure-button" value="X" id="delete-btn">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </thead>
        </table>
    {% else %}
        <h3 align='center'>No Widgets Exist</h3>
    {% endif %}
    <hr/>
    <h4 align='center'>Add Widget</h4>
    <form action="{% url 'add_widget' %}" method="POST" class="pure-form" align='center'>
        {% csrf_token %}
        {{ widget_form.as_p }}
        <input type="submit" class="pure-button" value="ADD A WIDGET">
    </form>
</body>
</html>